<%- include("../partials/navbar") %>




<h2>Entrez le mot de passe pour continuer</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form method="POST" action="/Annonces/<%= id %>/checkPassword">
  <input type="password" name="password" required placeholder="Mot de passe">
  <input type="hidden" name="action" value="<%= action %>">
  <button type="submit">Valider</button>
</form>