<%- include("../partials/head", {title: "brief"}) %>

<h1>Test EJS</h1>
<p>Message du controller : <%= message %></p>

<% console.log("[Vue] Vue index.ejs en cours de rendu") %>

<%- include ("../partials/footer") %>